@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap');

* {
    background-color: #F3EBE1;
    font-family: 'Noto Sans Mono', monospace;
}

#header {
    padding: 20px;
}

#headeritems {
    flex-basis: 25%;
    text-decoration: underline;
}

a {
    color: inherit;
}

#headerlinks {
    color: black;
    font-size: 200%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.contact-info {
    padding-left:20px;
}
