#list {
    padding: 2%;
    font-size: 125%;
    color: #FFFFFF;
}

.info {
    display: none;
    margin-left: 20px;
    color: white;
    font-size: 100%;
}

.item:hover + .info {
    display: block;
}

.item:hover {
    color: #ED8254;
    text-decoration: underline;
}

.item {
    color: #FFFFFF;
    text-decoration: underline;
}

