@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap');

#body {
    background-color: #F3EBE1; 
}

#header {
    padding: 20px;
}

#headeritems {
    flex-basis: 25%;
}

a {
    color: inherit;
}

#headerlinks {
    font-family: 'Noto Sans Mono', monospace;
    color: black;
    font-size: 200%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

#portrait {
    width: 500px;
    margin: 25px;
    font-size: 40%;
}

#about {
    font-family: 'Noto Sans Mono', monospace;
    color: black;
    font-size: 100%;
}
