@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap');

#body {
    background-color: black; 
}

#header {
    padding: 5px;
}

#headeritems {
    flex-basis: 25%;
    color: white;
}

a {
    color: inherit;
}

#headerlinks {
    font-family: 'Noto Sans Mono', monospace;
    color: white;
    font-size: 150%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

#parallax1 {
    background-image: url("../assets/stockphoto1.jpg");

    min-height: 650px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax2 {
    background-image: url("../assets/stockphoto2.jpg");

    min-height: 650px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#passage1 {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
    color: white;
}

#portrait {
    width: 25%;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
