body {
	background-color: rgb(200,200,200);
	border-style: solid;
	border-width: 5px;
	
	/*top, right, bottom, left */
	border-color: white rgb(180,180,180) rgb(180,180,180) white;
}

#title_box {
	background-color: RGB(8, 0, 126);
	height: 30px;
	margin-left: 0.4%;
	margin-right: 0.4%;
	margin-top: 3px;
	margin-bottom: 3px;
}
#title_text {
	color: white;
	padding-top: 5px;
	margin-left: 0.4%;
	font-family: "Lucida Console", Monospace;
	font-size: 20px;
	font-weight: bold;
	
	float: left;
}

#title_buttonsholder {
	margin-top:3px;
	margin-right: 0.4%;
	width: 6%;
	height: 20px;
	
	float: right;
}

#title_subbuttonsholder {
	width: 65%;
	height: 20px;
	
	float: left;
}

.title_buttons {
	color: black;
	background-color: rgb(200,200,200);
	
	font-family: "Lucida Console", Monospace;
	font-size: 20px;
	font-weight: bold;
	
	border-style: solid;
	border-color: white rgb(180,180,180) rgb(180,180,180) white;
	border-width: 2px;
}

#title_x {
	width: 20%;
	
	padding-left: 2px;
	padding-right: 2px;
	
	float:right;
}

#title_expand {
	width: 30%;
	height: 20px;
	
	padding-left: 2px;
	padding-right: 2px;
	
	float:right;
}

#title_expandicon {
	border-style: solid;
	border-width: 2px;
	border-top-width: 4px;
	margin-top: 3px;
	height: 8px;
}

#title_minimize {
	width: 28%;
	height: 20px;
	
	padding-left: 2px;
	padding-right: 2px;
	
	float:left;
}