@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

* {
    background-color: #222222;
    font-family: 'Noto Sans Mono', monospace;
}

#header {
    padding: 20px;
    background-color: #333333;
}

.header-items {
    background-color: #333333;
    flex-basis: 25%;
    text-align: center;
}

.header-links {
    color: #FFFFFF;
    font-size: 300%;
}

.header-links:hover {
    color: #ED8254;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

