.body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #444;
    padding: 0 10px
}

h1,h2,h3 {
    line-height: 1.2;
}

.title-container {
    display: flex;
    align-items: center;
}

.title {
    flex: 8;
    font-weight: 800;
}

.social-link {
    flex: 1;
}

.social-icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    fill: #444;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-left: 10px;
    margin-right: 10px;
}

.page-link {
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    color: #444;
}

/* change gallery width to two items */
@media (max-width: 831px) {
    .gallery {
        max-width: 600px !important;
    }
}

/* change gallery width to one item */
@media (max-width: 559px) {
    /* adjust gallery */
    .gallery {
        justify-content: center !important;
    }
}

/* change header features */
@media (max-width: 410px) {
    .title {
        font-size: 24px;
        margin: 10px;
    }
    .page-link {
        font-size: 18px;
        margin-right: 5px;
    }
    .social-icon {
        display: none;
    }
    .portrait {
        height: 56px;
        width: 56px;
    }
}

/* absolute smallest */
@media (max-width: 299px) {
    /* change page links to be columnated */
    .link-container {
        flex-direction: column;
    }
    .page-link {
        text-align: center
    }
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 900px;
    flex-wrap: wrap;
}

.poster {
    max-width: 272px;
    margin-bottom: 60px;
}

.project-link {
    font-weight: 800;
}

.project-title {
    font-size: 32px;
    font-weight: 800;
}

.project-date {
    color: #777777;
}

.image {
    margin: auto;
    display: block;
}

.caption {
    color: #777777;
    text-align: center;
    font-style: italic;
}

