body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #444;
    padding: 0 10px
}

h1,h2,h3 {
    line-height: 1.2;
}

.flex-container {
    display: flex;
    align-items: center;
}

.title {
    flex: 8;
    font-weight: 800;
}

.social-link {
    flex: 1;
}

.social-icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    fill: #444;
}

.dinkus {
    text-align: center;
    margin: 20px 0;
}

.dinkus span {
      margin: 0 15px; /* Space between each asterisk */
}

