.body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #444;
    padding: 0 10px
}

h1,h2,h3 {
    line-height: 1.2;
}

.title-container {
    display: flex;
    align-items: center;
}

.title {
    flex: 8;
    font-weight: 800;
}

.social-link {
    flex: 1;
}

.social-icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    fill: #444;
}

.dinkus {
    text-align: center;
    margin: 20px 0;
}

.dinkus span {
      margin: 0 15px; /* Space between each asterisk */
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-left: 10px;
    margin-right: 10px;
}

.page-link {
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    color: #444;
}

@media (max-width: 831px) {
    .gallery {
        max-width: 600px !important;
    }
}

@media (max-width: 559px) {
    .gallery {
        justify-content: center !important;
    }
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 900px;
    flex-wrap: wrap;
}

.poster {
    max-width: 272px;
    margin-bottom: 60px;
}

